# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

##########
## AVR
##########
*.lst
*.lss
*.asm
*.hex
*.elf
*.dep
*.sym
*.map
*.eep
Makefile
